body {
  display:flex;
  justify-content:center;
  align-items:center;
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
}

.disc {
  display:flex;
  justify-content:center;
  align-items:center;
  height: 90vmin;
  width:90vmin;
  background-size:cover;
  background-image: url("/pic/Spinner.png");
}

.spinner {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.arrow {
  width:30px;
  height:50px;
  border-left: transparent solid 15px;
  border-right: transparent solid 15px;
  border-bottom: solid 25px black;
  box-sizing:border-box;
  transform:translateY(15%);
}

.line {
  background:black;
  height:50vmin;
  width:10px;
}

.chevron {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 1px;
  width: 7px;
  transform:translateY(-80%);
}

.chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: black;
  transform: skew(0deg, -15deg);
}
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: black;
  transform: skew(0deg, 15deg);
}

.spinner {
  transition: transform 3s cubic-bezier(0,1,.69,1);
}
